/* 
COLOR PALETTE
https://coolors.co/1c3144-ffba08-a2aebb-3f88c5-ff1b1c
#FF1B1C - Red
#3F88C5 - Tufts Blue
#8D99AE - GRAY-BLUE 
#FFBA08 - SELECTIVE YELLOW
#1C3144 - YANKEES BLUE 
#DBDBDB - GAINSBORO
#706F6F - NICKEL
*/

/* Global Styles
------------------------------------*/

html {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: #dbdbdb;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a:link {
  color: #ffba08;
}

a:hover {
  text-decoration: none;
}

.title-name {
  font-weight: 700;
  font-size: 75px;
  color: #1c3144;
}

h3 {
  clear: both;
  margin-bottom: 0;
}

h3,
p {
  margin: 0;
  padding: 5px;
}

h1,
h2 {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
}

h3 + p,
h3 + p + p {
  font-style: italic;
}

h3 ~ p {
  margin: 0;
}

.topnav {
  text-align: center;
  font-size: 95%;
  overflow: hidden;
}

.topnav a {
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  color: #ffba08; /* #ffba08 & e8f1f2 */
}

.topnav li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.topnav a:hover {
  background-color: #ffba08;
  text-decoration: none;
  color: black;
}

/* .topnav a:visited {
  color: #ffba08;
} */

.topnav .icon {
  display: none;
}
._projects > .content-wrap > h2,
._work_experience > .content-wrap > h2 {
  color: #ffba08;
}

.divider > section {
  border-bottom: 1px dashed #1c3144;
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-style: none;
}

.btn {
  /* background-color: #1c3144; */
  color: #ffba08;
  padding: 8px;
  border-radius: 5px;
  float: left;
}

/* a:visited {
	color: #1C3144;
} */

/* Profile
------------------------------------*/

header {
  background-color: #e63946;
  overflow: hidden;
}

.banner-img {
  max-width: 65%;
  display: block;
  margin: 5em auto;
}

header h2 {
  padding-bottom: 15px;
}

/* ._banner_desc p {
    float: right;
} */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ffba08; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#myBtn:visited {
  background-color: #ffba08; /* Set a background color */
}

/* Projects
------------------------------------*/

._projects {
  background-color: #8d99ae;
  background-image: url("../images/karthik-swarnkar-AoNvwL-Dmtw-unsplash.jpg");
  background-size: cover;
  background-position-y: top;
}

._projx {
  overflow: hidden;
}

/* ._proj_details h3 {
    display: inline-block;
} */

._projx img {
  /* LinkedIn logo */
  width: 80px;
  margin: 10px;
}

.btnB {
  background-color: #1c3144;
  color: #ffba08;
  padding: 8px;
  border-radius: 5px;
  display: block;
  text-align: center;
  max-width: 100%;
  width: fit-content;
  /* float: left; */
}

/* ._proj_details {
    float: left;
    max-width: 35%;
}

._proj_desc {
    float: right;
    max-width: 65%;
    text-align: right;
} */

/* Work Experience
------------------------------------*/

._work_experience {
  background-color: #3f88c5;
  /* background-image: url("../images/wallpaper1.jpg"); */
  background-size: contain;
  background-blend-mode: darken;
}

._work_experience img {
  width: 200px;
  margin: 5px;
  overflow: hidden;
  float: left;
}

._work_experience .btn:hover {
  background-color: rgba(28, 49, 68, 0.75);
}

._work_experience p {
  clear: both;
}

/* Education
------------------------------------*/

._education {
  background: #8d99ae;
  color: #1c3144;
  overflow: auto;
  background-image: url("../images/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpeg");
  background-size: cover;
  background-position: center right;
}

._education img {
  width: 200px;
  margin: 5px;
}

/* ._edu_details img {
    filter: blur(0px);
    z-index: 9999;
} */

/* Contact
------------------------------------*/

footer {
  background: #e63946;
  clear: both;
}

._contct_list {
  list-style-type: none;
  padding: 0;
}

._contct_list a {
  padding: 15px;
  display: inline-block;
  color: #1c3144;
  font-weight: bold;
}

.title-name {
  margin: 0.25em auto;
}

.title-title {
  margin: 5px auto;
}

/* Currently / About */

.currently {
  color: black;
}

/* .bold-currently-about {
  color: #ffba08;
} */

/* --------------------------- */

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slide-img {
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Responsive
------------------------------------*/

@media screen and (min-width: 49.0001em) {
  ._banner_bio,
  footer,
  h2 {
    text-align: center;
  }
  ._proj_details {
    float: left;
    max-width: 35%;
  }
  ._proj_desc {
    float: right;
    max-width: 65%;
    text-align: right;
  }
  ._edux {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    column-gap: 20px;
  }
  ._jobx {
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    border-bottom: 1px dashed #1c3144;
    column-gap: 10px;
    padding: 25px 0;
  }
  ._projects .content-wrap > p {
    text-align: center;
  }
  .content-wrap {
    max-width: 850px;
    width: 85%;
    margin: 0 auto;
    padding: 65px 0;
  }
  ._contct_list {
    display: flex;
    justify-content: center;
  }
  ._banner_desc {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
  }
  ._work_experience {
    background-color: #3f88c5;
    /* background-image: url("../images/wallpaper1.jpg"); */
    background-size: contain;
    background-blend-mode: darken;
  }
}

@media screen and (max-width: 49em) {
  h1 {
    font-size: 50px;
  }
  h1,
  h2 {
    line-height: 1;
  }
  .content-wrap {
    max-width: 850px;
    width: 85%;
    margin: 0 auto;
    padding: 85px 0;
  }
  ._contct_list a {
    padding: 1px;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
